/CQRS-ES/CQRS.Core/bin/
/CQRS-ES/CQRS.Core/obj/
/SM-POST/.idea/
/SM-POST/.idea/SM-POST.sln.DotSettings.user
/SM-POST/Post.Cmd/bin/
/SM-POST/Post.Cmd/obj/
/SM-POST/Post.Query/bin/
/SM-POST/Post.Query/obj/
/SM-POST/Post.Common/bin/
/SM-POST/Post.Common/obj/
/SM-POST/Post.Cmd/Post.Cmd.Api/bin/
/SM-POST/Post.Cmd/Post.Cmd.Api/obj/
/SM-POST/Post.Cmd/Post.Cmd.Domain/bin/
/SM-POST/Post.Cmd/Post.Cmd.Domain/obj/
/SM-POST/Post.Cmd/Post.Cmd.Infrastructure/bin/
/SM-POST/Post.Cmd/Post.Cmd.Infrastructure/obj/
/SM-POST/Post.Query/Post.Cmd.Api/obj/
/SM-POST/Post.Query/Post.Cmd.Api/bin/
/SM-POST/Post.Query/Post.Query.Api/bin/
/SM-POST/Post.Query/Post.Query.Api/obj/
/SM-POST/Post.Query/Post.Query.Domain/bin/
/SM-POST/Post.Query/Post.Query.Domain/obj/
/SM-POST/Post.Query/Post.Query.Infrastructure/bin/
/SM-POST/Post.Query/Post.Query.Infrastructure/obj/